*{
    @import url ('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
}
html, body
{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.text-center
{
    text-align: center;
}
.bg-red
{
    background: red;
}
.mx-auto
{
margin:auto;
}
.flex
{
  display: flex;
}
.flex-col
{
  flex-direction: column;
}
.items-center
{
  align-items: center;
  
}
.row
{
  margin: 7px 0;
}
.btn
{

  height: auto;
  width: 52px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row input
{
    margin: 0;
  padding: 10px 0px;
  border: 2px solid;
  border-radius: 9px;
  font-size: 21px;
}